html {
    background-color: #000;
}

body {
    font-family: 'Helvetica';
}

.bold {
    font-weight: 600;
}

.story-name {
    font-weight: 800;
}

.story-time {
    color: #777;
    font-size: 10px;
    margin-top: 12px;
    line-height: 0px;
}

.footer-write, .footer-likes {
    text-align: right;
    color: #aaa;
    font-size: 11px;
    line-height: 15px;
}

.footer-likes {
    text-align: right;
    font-weight: bold;
}

.number-view {
    padding-top: 40px;
    padding-left: 40px;
    font-size: 28px;
    background-color: #aaa;
    font-weight: 800;
    color: white;
}

.profile-view {
    border: 1px solid #aaa;
}
